# project files
.gradle/
.idea/
build/
run/
run

# macos
.DS_Store

# upstream
paper-api
paper-server
paper-api-generator

# sakura
build.gradle.kts.rej
sakura-api/build.gradle.kts
sakura-server/build.gradle.kts
sakura-server/src/minecraft

!gradle/wrapper/gradle-wrapper.jar
